:root {
    --primario: #6834a6;
    --blanco: #FFF;
    --negro: #000000;
    --fuentePrincipal: 'Poppins', sans-serif;

    --separacion: 3rem;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
    line-height: 1.4;
}
h1, h2, h3 {
    font-weight: 900;
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 4.6rem;
}
h3 {
    font-size: 3rem;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    display: block;
}
.container {
    max-width: 120rem;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

/* Header */
.header {
    background-image: url(/assets/images/header_bg.svg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 12rem;
    padding: 4rem 0;
}

.header__container {
    max-width: 120rem;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.header__logo{
    width: 15rem;
    margin: 0 auto 3rem auto;
}

.header__heading {
    text-align: center;
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav__link {
    color: var(--primario);
}

.header__btn {
    background-color: var(--primario);
    display: block;
    padding: 1rem;
    text-align: center;
    color: var(--blanco);
    margin-bottom: 5rem;
    
}

@media (min-width: 768px) { 
    .header {
        background-size: 60rem;
    }
    
    .header__navbar {
        display: flex;
        justify-content: space-between;
    }

    .header__logo {
        margin: 0;
    }

    .header__heading {
        text-align: left;
        font-size: 4.5rem;
    }

    .header__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        align-items: center;
    }

    .nav {
        flex-direction: row;
        align-items: flex-start;
        gap: 1rem;
    }

    .nav__link {
        color: var(--blanco);
        font-size: 2rem;
    }

    .header__image {
        max-width: 30rem;
        margin: 0 auto;
    }

    .header__btn {
        padding: 1rem 3rem;
        display: inline-block;
    }
}

@media (min-width: 992px) {  
    .header {
        background-size: 70rem;
    }
}

@media (min-width: 1280px) {  
    .header {
        background-size: 100rem;
    }
}







