:root {
    --primario: #6834a6;
    --blanco: #FFF;
    --negro: #000000;
    --fuentePrincipal: 'Poppins', sans-serif;

    --separacion: 3rem;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
    line-height: 1.4;
}
h1, h2, h3 {
    font-weight: 900;
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2.5rem;
}
h3 {
    font-size: 3rem;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    display: block;
}

.mask {
    overflow: hidden;
}
/* Selector de Atributo, lo selecciona si finaliza con el valor del atributo */
[class$="__container"] {
    max-width: 120rem;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

[class$="__heading"] {
    text-align: center;
    margin-bottom: 5rem;
}

/* Header */
.header {
    background-image: url(/assets/images/header_bg.svg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 12rem;
    padding: 4rem 0;
}

.header__logo{
    width: 15rem;
    margin: 0 auto 3rem auto;
}

.header__heading {
    margin-bottom: unset;
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav__link {
    color: var(--primario);
}

.header__btn {
    background-color: var(--primario);
    display: block;
    padding: 1rem;
    text-align: center;
    color: var(--blanco);
    margin-bottom: 5rem;
    
}

@media (min-width: 768px) { 
    .header {
        background-size: 60rem;
    }
    
    .header__navbar {
        display: flex;
        justify-content: space-between;
    }

    .header__logo {
        margin: 0;
    }

    .header__heading {
        text-align: left;
        font-size: 4.5rem;
    }

    .header__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        align-items: center;
    }

    .nav {
        flex-direction: row;
        align-items: flex-start;
        gap: 1rem;
    }

    .nav__link {
        color: var(--blanco);
        font-size: 2rem;
    
    }

    .header__image {
        max-width: 30rem;
        margin: 0 auto;
    }

    .header__btn {
        padding: 1rem 3rem;
        display: inline-block;
    }
}

@media (min-width: 992px) {  
    .header {
        background-size: 70rem;
    }
}

@media (min-width: 1280px) {  
    .header {
        background-size: 110rem;
    }
}

/* main */
.nucleus__grid {
    display: flex;
    flex-direction: column-reverse;
}

.list__heading {
    color: var(--primario);
    margin: 0;
}

.list__number {
    font-size: 4rem;
    color: var(--primario);
    font-weight: 700;
    margin: 0;
    text-align: center;
}

.list__text {
    margin: 0;
}

.list__element {
    box-shadow: 0px 0px 15px 3px rgb(0 0 0 / .15);
    padding: 1.5rem;
    margin-bottom: 3rem;
    transition-property: transform;
    transition-duration: .4s;
    background-color: var(--blanco);
}

.list__element:last-of-type {
    margin-bottom: 0;
}

.list__element:hover {
    transform: scale(1.1);
}



@media (min-width: 768px) {  
    .nucleus__heading {
        font-size: 3.4rem;
    }

    .nucleus__grid {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 3rem;
        align-items: center;
    }

    .list__heading {
        font-size: 2.5rem;
    
    }
    .list__text {
        font-size: 1.8rem;
    }

    .list__number {
        flex-basis: 20rem;
    }

    .list__element--2col {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
    }
}

@media (min-width: 992px) {  
    .nucleus__heading {
        font-size: 3.8rem;
    }

    .nucleus__grid {
        gap: 6rem;
    }

    .list__heading {
        font-size: 3rem;
    
    }
    .list__text {
        font-size: 2rem;
    }
}


/* Security */
.security {
    background-color: var(--primario);
    padding: 5rem 0;
    position: relative;
    margin: 10rem 0;
    padding: 20rem 0;
    overflow: hidden;
    /* Para solucion con efecto de diagonal en una seccion con bgc */
  /*   transform: rotate(3deg) scale(1.3);
    margin: 22rem 0; */
}

/* .security__container {
    transform: rotate(-3deg) scale(.75);
} */
.security::before,
.security::after {
    background-color: var(--blanco);
    content: '';
    height: 20rem;
    width: 120%;
    position: absolute;
}

.security::before { 
    top: -10rem;
    left: 0;
    transform: rotate(3deg);
}

.security::after {
    transform: rotate(-3deg);
    bottom: -10rem;
    left: 0;
}

.security__heading {
    color: var(--blanco);
}

.security__image {
    margin: var(--separacion) 0;
}

@media (min-width: 768px) {  
    .security__heading {
        font-size: 3.4rem;
    }

    .security__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5rem;
        align-items: center;
    }
}

@media (min-width: 992px) {  
    .security__heading {
        font-size: 4rem;
    }
}

/* commissions */
.commissions__text {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

@media (min-width: 768px) {  
    .commissions__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5rem;
        align-items: center;
    }

    .commissions__heading {
        font-size: 3.4rem;
    }

    .commissions__text {
        font-size: 2.2rem;
    }
}

@media (min-width: 992px) {  
    .commissions__heading {
        font-size: 4.5rem;
    }

    .commissions__text {
        font-size: 3rem;
    }
}

/* Testimonials */

.testimonials {
    background-color: var(--primario);
}

.testimonials__container {

}

.testimonials__heading {
    color: var(--blanco);
    padding-top: 5rem;
    margin-top: 0;
}

.testimonial {
    background-color: var(--blanco);
    padding: 2rem;
    margin-bottom: 3rem;
    box-shadow: 0px 0px 15px 3px rgb(0 0 0 / .15);
    position: relative;
}

.testimonial:last-child {
    margin-bottom: 0;
}

.testimonial__text::before {
    content: '';
    background-image: url(/assets/images/comilla.png);
    background-size: 3rem;
    background-repeat: no-repeat;
    background-position: center;
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 3rem;
    left: 2rem;
}
.testimonial__text {
    padding-left: 4rem;
}

.testimonial__author {
    color: var(--primario);
    text-align: right;
    font-weight: 700;
}

@media (min-width: 768px) {
    .testimonial {
        margin: 0;
        
    }  
    .testimonials__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
    }
}
